{
    "tabWidth": 4,
    "trailingComma": "all",
    "singleQuote": true,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
